@import 'modern-normalize';

body {
  background-color: #F0918E;
}

.container {
  width: 800px;
  margin: 1em auto 0;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 1em;
  text-align: center;
}

.description {
  font-size: 1.4em;
}

.input-container {
  position: relative;
  width: 300px;
  margin: 0 auto;
  font-size: 2em;
}

.input-container input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.5);
  padding: 0.1em;
  border-radius: 3px;
  outline: none;
  padding-left: 1em;
}

.input-container .prefix {
  position: absolute;
  top: 50%;
  left: 0.1em;
  transform: translateY(-50%);
  color: #F0918E;
}

.badge-preview {
  margin-top: 1em;
}
