@import 'modern-normalize';

body {
  color: #2A2B2C;
  background-color: #F0918E;
}

a {
  color: #E45D58;
  text-decoration: none;
  transition: color 0.2s ease;
}
a:hover {
  color: #DB2A24;
}

.container {
  width: 800px;
  margin: 2em auto;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 1em;
  text-align: center;
}

.description {
  font-weight: 500;
  margin-top: 1.4em;
  font-size: 1.4em;
}

.input-container {
  position: relative;
  width: 300px;
  margin: 0 auto;
  font-size: 2em;
}

.input-container input {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
  padding: 0.1em;
  border-radius: 3px;
  outline: none;
  padding-left: 1em;
}

.input-container .prefix {
  position: absolute;
  top: 50%;
  left: 0.1em;
  transform: translateY(-50%);
  color: #F0918E;
}

.badge-preview {
  margin: 2em 0;
  height: 20px;
}

.output-title {
  margin-top: 1em;
}

pre {
  text-align: left;
  font-size: 0.8em;
  background: rgba(255, 255, 255, 0.3);
  padding: 1em;
  border-radius: 3px;
  overflow-x: scroll;
}

footer {
  margin-top: 3em;
  text-align: left;
}

footer .me {
  float: right;
}
